<h1 class="mat-display-1" style="margin-bottom: 15px">Состав кафедры:</h1>
<mat-list role="list">
  <mat-list-item role="listitem">Директор ИТНИТ, доцент кафедры ИБ - Миронов Владимир Валерьевич</mat-list-item>
  <mat-list-item role="listitem">Заведующий кафедрой ИБ, доцент кафедры ИБ - Носов Леонид Сергеевич</mat-list-item>

  <mat-list-item role="listitem">Доцент кафедры ИБ - Гольчевский Юрий Валентинович</mat-list-item>
  <mat-list-item role="listitem">Доцент кафедры ИБ - Филяк Пётр Юрьевич</mat-list-item>

  <mat-list-item role="listitem">Заведующий лабораторией кафедры ИБ, старший преподаватель - Некрасов Александр
    Николаевич</mat-list-item>
  <mat-list-item role="listitem">Лаборант кафедры ИБ - Масленникова Дарья Леонидивна</mat-list-item>

  <mat-list-item role="listitem">Старший преподаватель - Басенко Алексей Олегович</mat-list-item>
  <mat-list-item role="listitem">Старший преподаватель - Биричевский Алексей Романович</mat-list-item>
  <mat-list-item role="listitem">Преподаватель - Чупров Иван Андреевич</mat-list-item>
</mat-list>
