:host {
  display: inline-block;

  &:nth-child(even) {
    background: #80808021;
  }

  .wrapper {
    padding: 15px;

    a {
      font-size: 1.2rem;
      color: #3e4ebc;
    }

    .date {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .controls {
      display: flex;
      justify-content: space-between;
    }
  }
}
