/* :host {
  margin-top: 50px;
  display: block;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3 {
    margin: 0 0 10px;
  }

  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
      margin: 15px;
    }
  }

}
 */

h2 {
  margin-top: 50px;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
