:host {
  margin-bottom: 10px;

  h4 {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500;
  }


  ul {
    list-style: disc;
  }
}
