<div class="line"></div>

<div class="wrapper">
  <div style="display: flex;flex-direction: column;align-items: center; margin: 0 0 25px;">
    <a href="https://syktsu.ru" target="_blank" style="color: #71d7ff; margin: 15px;font-size: 18px;text-decoration: underline;"
      rel="noopener">
      Сыктывкарский Государственный Университет им. Питирима Сорокина
    </a>

    <a routerLink="/privacy" style="color: #71d7ff;font-size: 16px;text-decoration: underline;">Политика
      конфидециальности</a>
  </div>

  Некоторые иллюстрации на сайте взяты с сайта Freepik. Ссылки на работы и их авторов:
  <ul>
    <li><a rel="noopener" target="_blank" href="https://www.freepik.com/free-vector/creative-landing-page-template_3063258.htm">Pikisuperstar</a></li>
    <li><a rel="noopener" target="_blank" href='https://www.freepik.com/free-vector/concept-of-protection-digital-data-database-and-server-data-guarding-blockchain_2909674.htm'>Fullvector</a></li>
    <li><a rel="noopener" target="_blank" href='https://www.freepik.com/free-vector/protection-of-personal-data-cloud-storage-of-information-user-authorization-cloud-storage_3629350.htm'>Fullvector</a></li>
  </ul>
</div>
