i {
  font-size: 1.5rem;
  line-height: 1.7em;
  padding-right: 10px;
}

.social-buttons {
  display: flex;
  justify-content: center;

  >* {
    margin: 5px;
  }
}

.auth {
  display: flex;
  justify-content: center;

  >* {
    margin: 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  height: 300px;
  margin: 25px;
}
