<div style="display: flex;justify-content: center;-webkit-overflow-scrolling: touch !important;overflow-y: auto !important;">
  <iframe style="height: 100vh;width: 800px;max-width: 100vw;border:none;" src="https://docs.google.com/document/d/e/2PACX-1vTnHhr3eNsylTsTPMB4Vb6NedH4EQeXwVdr_csSCIzXO85kH09GYpvTgoNOT9NHN0lDhh31amaLeAK_/pub?embedded=true">
  </iframe>
</div>


<div style="display: flex;justify-content: center;-webkit-overflow-scrolling: touch !important;overflow-y: auto !important;">
  <iframe style="height: 100vh;width: 800px;max-width: 100vw;border:none;" src="https://docs.google.com/document/d/e/2PACX-1vT7YB63MrBNRB6cZAat9C9rG-ATo_6pqKdqQLI3qECTV5KXD4Z-EOHfgfHNYSfdWfPNs9VT_nn_jZdb/pub?embedded=true">
  </iframe>
</div>
