:host {
  position: sticky;
  top: 0;
  display: block;
  height: 48px;
  width: 100%;
  background: white;
  z-index: 1001;
  border-bottom: 1px solid rgba(74, 83, 206, 0.1);
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  button {
    z-index: 10;
  }

  .logo-wrapper {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;

    .logo {
      height: 32px;
      margin: 5px;
      outline: none;
      cursor: pointer;
    }

    .logo-text {
      margin-bottom: 0;
      font-size: 1.6rem;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 4px;
    }
  }
}
