@import '~@angular/material/theming';
@include mat-core();

$kib-accent: (50 : #feeae3,
100 : #fbc9ba,
200 : #f9a68c,
300 : #f7825e,
400 : #f5673c,
500 : #f34c19,
600 : #f14516,
700 : #ef3c12,
800 : #ed330e,
900 : #ea2408,
A100 : #ffffff,
A200 : #ffe2e0,
A400 : #ffb4ad,
A700 : #ff9c93,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$kib-primary: mat-palette($mat-indigo);
$kib-accent: mat-palette($kib-accent);
$kib-warn: mat-palette($mat-red, 900);
$kib-theme: mat-light-theme($kib-primary, $kib-accent, $kib-warn);
@include angular-material-theme($kib-theme);
